# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Create markdown cells and use features such as headings and tables
- Create code cells and run the cells to evaluate expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Matplotlib

|Data Science Tools|
------
|RStudio|
|Visual Studio Code|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
x = 200
y = x/60
print(y)

3.3333333333333335

## Author
Peter B.